html, body {
	font-family: 'Arial', sans-serif;
	height: 100%;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
}

body {
	background-color: #555;
}

.avatar.walking .sprite {
	animation-iteration-count: infinite;
}

.avatar .avatar-label {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
	display: inline;
	font-size: 120%;
	font-weight: bolder;
	margin-left: -100vw;
	margin-right: -100vw;
	padding-left: 0.25em;
	padding-right: 0.25em;
	position: relative;
	text-align: center;
	top: -1em;
}
