html, body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}

.avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
	background-color: transparent;
	background-image: url(avatars/default.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
}
.avatar.walking {
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}
.avatar.left {
	animation-name: avatar-walking-left;
}
.avatar.right {
	background-position: -1088px 0;
	animation-name: avatar-walking-right;
}

.avatar-label {
	position: relative;
	top: -1em;
	text-align: center;
	color: #fff;
	text-shadow: #000 0 0 6px;
}

@keyframes avatar-walking-left {
	11.1111% {
		background-position: -64px 0;
	}
	22.2222% {
		background-position: -128px 0;
	}
	33.3333% {
		background-position: -192px 0;
	}
	44.4444% {
		background-position: -256px 0;
	}
	55.5555% {
		background-position: -320px 0;
	}
	66.6667% {
		background-position: -384px 0;
	}
	77.7778% {
		background-position: -448px 0;
	}
	88.8889% {
		background-position: -512px 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes avatar-walking-right {
	11.1111% {
		background-position: -576px 0;
	}
	22.2222% {
		background-position: -640px 0;
	}
	33.3333% {
		background-position: -704px 0;
	}
	44.4444% {
		background-position: -768px 0;
	}
	55.5555% {
		background-position: -832px 0;
	}
	66.6667% {
		background-position: -896px 0;
	}
	77.7778% {
		background-position: -960px 0;
	}
	88.8889% {
		background-position: -1024px 0;
	}
	100% {
		background-position: -1088px 0;
	}
}
