.avatar.mario {
	display: inline-block;
	width: 18px;
	height: 32px;
	background-color: transparent;
	background-image: url(avatar.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: calc(3 * 18px * -1) 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	margin-bottom: 18px;
	transform: scale(2);
	image-rendering: pixelated;
}
.avatar.mario.walking {
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}
.avatar.mario.left {
	animation-name: mario-walking-left;
}
.avatar.mario.walking.left {
	background-position: 0 0;
}
.avatar.mario.right {
	background-position: calc(4 * 18px * -1) 0;
	animation-name: mario-walking-right;
}
.avatar.mario.walking.right {
	background-position: calc(7 * 18px * -1) 0;
}

.avatar.mario .avatar-label {
	top: -2.5em;
	font-size: 50%;
}

@keyframes mario-walking-left {
	33.3333% {
		background-position: calc(2 * 18px * -1) 0;
	}
	66.6667% {
		background-position: calc(1 * 18px * -1) 0;
	}
	100% {
		background-position: calc(0 * 18px * -1) 0;
	}
}

@keyframes mario-walking-right {
	33.3333% {
		background-position: calc(5 * 18px * -1) 0;
	}
	66.6667% {
		background-position: calc(6 * 18px * -1) 0;
	}
	100% {
		background-position: calc(7 * 18px * -1) 0;
	}
}
