.avatar.link {
	width: 32px;
	height: 32px;
	background-image: url(avatar.gif);
	background-position: calc(1 * 32px * -1) 0;
}
.avatar.link.walking {
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}
.avatar.link.left {
	animation-name: link-walking-left;
}
.avatar.link.right {
	background-position: calc(4 * 32px * -1) 0;
	animation-name: link-walking-right;
}

.avatar.link .avatar-label {
	top: -1.8em;
}

@keyframes link-walking-left {
	0% {
		background-position: calc(1 * 32px * -1) 0;
	}
	25% {
		background-position: calc(0 * 32px * -1) 0;
	}
	50% {
		background-position: calc(1 * 32px * -1) 0;
	}
	75% {
		background-position: calc(2 * 32px * -1) 0;
	}
}

@keyframes link-walking-right {
	0% {
		background-position: calc(4 * 32px * -1) 0;
	}
	25% {
		background-position: calc(5 * 32px * -1) 0;
	}
	50% {
		background-position: calc(4 * 32px * -1) 0;
	}
	75% {
		background-position: calc(3 * 32px * -1) 0;
	}
}
