.avatar.link {
	width: calc(32px * 1.4);
	height: calc(32px * 1.4);
}

.avatar.link .sprite {
	width: 32px;
	height: 32px;
	background-image: url(avatar.gif);
	background-position: calc(1 * 32px * -1) 0;
	bottom: 8px;
	transform: scale(1.4);
}

.avatar.link.left.walking .sprite {
	animation-name: link-walking-left;
}

.avatar.link.right.walking .sprite {
	background-position: calc(4 * 32px * -1) 0;
	animation-name: link-walking-right;
}

.avatar.link .avatar-label {
	top: -1.8em;
}

@keyframes link-walking-left {
	0% {
		background-position: calc(1 * 32px * -1) 0;
	}
	25% {
		background-position: calc(0 * 32px * -1) 0;
	}
	50% {
		background-position: calc(1 * 32px * -1) 0;
	}
	75% {
		background-position: calc(2 * 32px * -1) 0;
	}
}

@keyframes link-walking-right {
	0% {
		background-position: calc(4 * 32px * -1) 0;
	}
	25% {
		background-position: calc(5 * 32px * -1) 0;
	}
	50% {
		background-position: calc(4 * 32px * -1) 0;
	}
	75% {
		background-position: calc(3 * 32px * -1) 0;
	}
}
