.avatar.ness, .avatar.ness::before {
	width: 32px;
	height: 48px;
	display: block;
	transform: scale(1.2);
	margin-top: -8px;
}
.avatar.ness::before {
	background: transparent url(avatar.gif) 0 0 no-repeat;
	content: '';
	animation-timing-function: steps(1, end);
	animation-iteration-count: infinite;
}

.avatar.ness.left::before {
	transform: scaleX(-1) scale(1.2);
}

.avatar.ness .avatar-label {
	top: -70px;
	font-size: 90%;
}

.avatar.ness.walking::before {
	animation-name: ness-walking;
	animation-duration: 2s;
}

@keyframes ness-walking {
	0.0% { background-position: calc(31 * 32px * -1) 0; }
	12.5% { background-position: calc(32 * 32px * -1) 0; }
	25.0% { background-position: calc(33 * 32px * -1) 0; }
	37.5% { background-position: calc(34 * 32px * -1) 0; }
	50.0% { background-position: calc(35 * 32px * -1) 0; }
	62.5% { background-position: calc(36 * 32px * -1) 0; }
	75.0% { background-position: calc(37 * 32px * -1) 0; }
	87.5% { background-position: calc(38 * 32px * -1) 0; }
}
.avatar.ness.dance::before {
	animation-name: ness-dance1;
	animation-duration: 1s;
	animation-iteration-count: 6;
}

@keyframes ness-dance {
	0.0% { background-position: calc(0 * 32px * -1) 0; }
	25.0% { background-position: calc(1 * 32px * -1) 0; }
	50.0% { background-position: calc(2 * 32px * -1) 0; }
	75.0% { background-position: calc(3 * 32px * -1) 0; }
}

.avatar.ness.backpack::before {
	animation-name: ness-backpack;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes ness-backpack {
	0.0% { background-position: calc(4 * 32px * -1) 0; }
	20.0% { background-position: calc(5 * 32px * -1) 0; }
	40.0% { background-position: calc(6 * 32px * -1) 0; }
	60.0% { background-position: calc(7 * 32px * -1) 0; }
	80.0% { background-position: calc(8 * 32px * -1) 0; }
}

.avatar.ness.look::before {
	animation-name: ness-look;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes ness-look {
	0.0% { background-position: calc(9 * 32px * -1) 0; }
	14.2857% { background-position: calc(10 * 32px * -1) 0; }
	28.5714% { background-position: calc(11 * 32px * -1) 0; }
	42.8571% { background-position: calc(12 * 32px * -1) 0; }
	57.1429% { background-position: calc(13 * 32px * -1) 0; }
	71.4286% { background-position: calc(14 * 32px * -1) 0; }
	85.7143% { background-position: calc(15 * 32px * -1) 0; }
}

.avatar.ness.point::before {
	animation-name: ness-point;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

@keyframes ness-point {
	0.0% { background-position: calc(22 * 32px * -1) 0; }
	11.1111% { background-position: calc(23 * 32px * -1) 0; }
	22.2222% { background-position: calc(24 * 32px * -1) 0; }
	33.3333% { background-position: calc(25 * 32px * -1) 0; }
	44.4444% { background-position: calc(26 * 32px * -1) 0; }
	55.5556% { background-position: calc(27 * 32px * -1) 0; }
	66.6667% { background-position: calc(28 * 32px * -1) 0; }
	77.7778% { background-position: calc(29 * 32px * -1) 0; }
	88.8889% { background-position: calc(30 * 32px * -1) 0; }
}
