.avatars-list caption {
	font-size: 120%;
	font-weight: bold;
	text-decoration: underline;
}

.avatars-list th {
	font-weight: normal;
	padding-right: 1em;
	vertical-align: middle;
}

.avatars-list td {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 96px;
	vertical-align: middle;
	text-align: center;
}

.avatars-list .avatar {
	display: block !important;
	position: relative;
}

.avatars-list .avatar .sprite {
	bottom: 0 !important;
	transform-origin: top left !important;
}
