.avatar, .avatar .sprite {
	bottom: 0;
	height: 64px;
	text-align: center;
	width: 64px;
}

.avatar {
	display: inline-block;
	position: absolute;
}

.avatar .sprite {
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: steps(1, end);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	image-rendering: pixelated;
	margin: 0 auto;
	position: relative;
	transform-origin: bottom center;
}
