.avatar {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	display: inline-block;
	height: 64px;
	image-rendering: pixelated;
	position: absolute;
	text-align: center;
	width: 64px;
}

.avatar .avatar-label {
	color: #fff;
	display: inline;
	margin-left: -100vw;
	margin-right: -100vw;
	position: relative;
	text-align: center;
	text-shadow: #000 0 0 6px;
	top: -1em;
}
