.avatar.mario {
	height: calc(32px * 2);
	width: calc(18px * 2);
}

.avatar.mario .avatar-label {
	top: -1.9em;
}

.avatar.mario .sprite {
	background-image: url(avatar.gif);
	background-position: calc(3 * 18px * -1) 0;
	bottom: -10px;
	height: 32px;
	transform: scale(2);
	width: 18px;
}

.avatar.mario.left.walking .sprite {
	animation-name: mario-walking-left;
}

.avatar.mario.right .sprite {
	background-position: calc(4 * 18px * -1) 0;
}

.avatar.mario.right.walking .sprite {
	animation-duration: .75s;
	animation-name: mario-walking-right;
}

@keyframes mario-walking-left {
	0% {
		background-position: calc(2 * 18px * -1) 0;
	}
	33.3333% {
		background-position: calc(1 * 18px * -1) 0;
	}
	66.6667% {
		background-position: calc(0 * 18px * -1) 0;
	}
}

@keyframes mario-walking-right {
	0% {
		background-position: calc(5 * 18px * -1) 0;
	}
	33.3333% {
		background-position: calc(6 * 18px * -1) 0;
	}
	66.6667% {
		background-position: calc(7 * 18px * -1) 0;
	}
}
